* {
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
}

p {
    margin: .75rem 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

::selection {
    background: $primary-color;
    color: $white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-style: inset 0 0 6px $primary-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $lightBlue;
}
