.container {
    width: 375px;
    margin: 0 auto;

    @mixin smallScreen {
        width: 470px;
    }

    @mixin mediumScreen {
        width: 600px;
    }

    @mixin largeScreen {
        width: 850px;
    }

    @mixin extraLargeScreen {
        width: 1024px;
    }
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items {
    align-items: stretch;
}
