.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.box-size {
    box-sizing: border-box;
}

.white {
    color: #fff;
}

.pull-right {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}


.p-t-0 {
    padding-top: 0;
}

.p-l-r-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-2 {
    padding-top: 2rem;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-10 {
    margin-top: 10pz;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-7 {
    margin-left: 7px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.blue-color {
    color: $primary-color;
}

.section {
    padding: 60px 0;
    color: $grey;

    &.p-t-0 {
        padding-top: 0;
    }

    &.p-l-r-20 {
        padding-right: 20px;
        padding-left: 20px;
    }

    &__section-heading {

        h1 {
            font-size: 2.4rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            @mixin largeScreen {
                font-size: 2.8rem;
            }
        }

        p {
            font-size: 1rem;

            @mixin largeScreen {
                font-size: 1.2rem;
            }
        }

        &:after {
            content: "";
            display: block;
            margin: 20px auto 0;
            width: 80px;
            height: 5px;
            background: $primary-color;
        }

        &.border-left:after {
            content: "";
            display: block;
            margin: 0;
            width: 80px;
            height: 5px;
            background: $primary-color;
        }
    }

    &__bg-light {
        background-color: $lightGrey;
    }

    &.section-sm {
        padding: 10px 0;
    }
}

footer {
    padding: 30px 0;
    color: $white;
    background: $primary-color;

    p {
        font-size: 1.4rem;
    }
}
