.blogs {

    &__items {
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr;

        @mixin mediumScreen {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }

        &__item {
            margin: 1rem 0;

            &__blog-text {
                padding: .5rem;
                
                @mixin mediumScreen{
                    h3{
                        font-size: 1.15rem;
                    }
                }
                @mixin largeScreen{
                    h3{
                        font-size: 1.45rem;
                    }
                }
            }
        }
    }
}
