.btn {
    transition: all .3s ease-in-out;

    &__black {
        background: $black;
        color: $white;
        border: 1px solid $black;
    }

    a {
        color: $white;
        display: block;
        width: 100%;

        &:hover {
            background: $white;
            color: $grey;
        }
    }
}

.btn-s-radius {
    border-radius: 5px;
}

.btn-l-radius {
    border-radius: 30px;
}

.btn1 {
    display: inline-block;
    background: $primary-color;
    color: $white;
    padding: .75rem 1rem;
    border: 1px solid $primary-color;
    transition: all .3s ease-in-out;

    &:hover {
        background: transparent;
        border: 1px solid $lightGrey;
    }
}

.btn2 {
    display: inline-block;
    background: $primary-color;
    color: $white;
    padding: .75rem 1rem;
    border: 1px solid $primary-color;
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $grey;
    }
}

.btn3 {
    display: inline-block;
    background: $black;
    color: $white;
    padding: .75rem 1rem;
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $primary-color;
    }
}
