#clients {
    background: $grey url("assets/images/bg4.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    @mixin largeScreen {
        height:750px;
    }
}

.client {

    &__client-bottom {
        padding: 1.5rem;
        margin: -120px 0 30px 0;
        background: $primary-color;
        color: $white;
        
        h2{
            font-size: 1.4rem;
        }
        
        @mixin mediumScreen {
            margin:-120px 50px 30px;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
    }

    &__client-icons {

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-content: center;

            @mixin largeScreen {
                grid-template-columns: repeat(5, 1fr);
            }
            
            &__item {
                
                img {
                    display: block;
                    margin: 0 auto;
                }
                
                background: $whiteGrey;
                padding: 2rem;
                margin: 1rem;

                &:last-child {
                    align-self: center;
                    justify-self: center;
                    grid-column: 1/span 2;
                    
                    @mixin largeScreen {
                        grid-column: auto;
                    }
                }
            }
        }
    }
}
