form {

    .form__row {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        width: 100%;
        margin: .5rem 0;

        div {
            flex: 0 1 32%;
        }
    }

    label {
        display: block;
        color: $primary-color;
        margin-bottom: .5rem;
    }

    select {
        border: 2px solid $primary-color;
        display: block;
        height: 48px;
    }

    input,
    select {
        padding: .9rem;
        border-color: $primary-color;
        border-radius: 5px;
        width: 100%;
        color: $primary-color;
        font-size: .8rem;
        line-height: 1;
    }

    textarea {
        padding: 1rem;
        border: 2px solid $primary-color;
        border-radius: 5px;
        margin: 1rem 0;
        width: 100%;
        font-size: .8rem;
    }

    ::placeholder {
        color: $primary-color;
        opacity: .75;
        font-size: .8rem;
    }

    a {
        margin: 0 .5rem;
        width: 30%;
    }
}

.contact {

    &__row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: .5rem;
        padding: 15px 50px;

        @mixin mediumScreen {
            flex-direction: row;
        }
        img {
            width: 45px;
            height: 45px;
        }

        div {
            margin: 1.5rem 0;

            h4 {
                margin: 6px 0;
                font-size: 1.1rem;
            }
        }
    }
}
