.feedbacks {
    margin-top: 30px;

    @mixin largeScreen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    &__img {
        @mixin largeScreen {
            height: 100%;
        }

        height: 500px;
        background: $lightGrey url("assets/images/bg3.jpg") no-repeat center right;
    }

    &__feedback {
        background: $whiteGrey;
        padding: 1rem;

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;

            &__item {
                margin: 1rem;

                i {
                    color: $primary-color;
                    margin-bottom: .5rem;
                }

                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                }

                h3 {
                    font-size: 1.3rem;
                    margin: 1rem 0;
                }

                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
