header {
    display: unset;
}

.header {
    &-top {
        font-size: .9rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
        background: $primary-color;
        color: $white;
        padding: .5rem 1rem;

        @mixin smallScreen {
            font-size: 1rem;
        }

        @mixin largeScreen {
            grid-template-columns: 4fr 1fr;
        }

        &__address ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;

            @mixin largeScreen {
                flex-direction: row;

                li:first-child {
                    margin-right: 50px;
                }
            }

            @mixin extraLargeScreen {
                li:first-child {
                    margin-right: 75px;
                }
            }
        }

        a {
            font-size: 1.1rem;
            height: 100%;
            line-height: 40px;
        }
    }

    &-bottom {
        background: $white;
        z-index: 9999;
        position: sticky;
        top: 0;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

        &__navbar {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            align-items: center;

            ul {
                display: flex;
                align-items: center;

                li {
                    display: none;

                    a {
                        color: $grey;
                        padding: .75rem;
                        margin: 0 .25rem;
                        border-radius: 5px;
                        transition: background .3s;
                        font-size: 1.1rem;

                        &.blue {
                            background: $primary-color;
                            color: $white;
                            opacity: .8;

                            &:hover {
                                color: $primary-color;
                                background: $white;
                            }
                        }

                        &:hover {
                            background: $primary-color;
                            color: $white;
                        }

                        @mixin largeScreen {
                            font-size: 1.3rem;
                        }
                    }

                    @mixin largeScreen {
                        display: inline;
                    }
                }
            }

            &__logo {
                max-width: 115px;

                @mixin largeScreen {
                    max-width: 150px;
                }

                img {
                    display: inline-block;
                    width: 115px;

                    @mixin largeScreen {
                        display: inline-block;
                        width: 150px;
                    }
                }
            }
        }
    }
}

.is-current-link {
    color: $primary-color !important;

    &:hover {
        background: $primary-color !important;
        color: $white !important;
    }
}

.mobile-header-icon {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 19px;
    z-index: 9999;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $primary-color;
        transform-origin: 0 0;
        transition: all .3s ease-out;
    }

    &-bar {
        position: absolute;
        top: 8px;
        left: 0px;
        width: 20px;
        height: 3px;
        background-color: $primary-color;
        transform-origin: 0 50%;
        transition: all .3s ease-out;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $primary-color;
        transform-origin: 0 100%;
        transition: all .3s ease-out;
    }

    &-close {
        &::before {
            transform: rotate(45deg) scale(1.25);
        }

        .mobile-header-icon-bar {
            transform: scaleX(0);
            opacity: 0;
        }

        &::after {
            transform: rotate(-45deg) scale(1.3) translateY(1px) translateX(-1px);
        }
    }

    @mixin largeScreen {
        display: none;
    }
}

.mobile-menu {
    opacity: 0;

    @mixin largeScreen {
        display: none;
    }

    &-list {
        margin: 0;
        height: 100%;
        list-style: none;
        padding-bottom: 5px;
        display: none;

        &-item {
            border-top: dotted 1px #AAA;

            &-link {
                display: block;
                padding: 6px 18px;
                color: $grey;
                font-weight: 400;
                font-size: 1rem;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    &-active {
        opacity: 1;

        .mobile-menu-list {
            display: block;
        }
    }

    .blue {
        color: $primary-color;
        opacity: .8;

        &:hover {
            color: $grey;
        }
    }
}
