.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;

    background-color: $primary-color;
}

.loader-blocks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-blocks span {
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    opacity: 0;
    display: block;
    position: absolute;
}

.loader-blocks span.block-1 {
    animation: load 3s 500ms infinite ease-in-out;
}

.loader-blocks span.block-2 {
    animation: load 3s 400ms infinite ease-in-out;
}

.loader-blocks span.block-3 {
    animation: load 3s 300ms infinite ease-in-out;
}

.loader-blocks span.block-4 {
    animation: load 3s 200ms infinite ease-in-out;
}

.loader-blocks span.block-5 {
    animation: load 3s 100ms infinite ease-in-out;
}

.loader-blocks span.block-6 {
    animation: load 3s infinite ease-in-out;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}
