.map-section {

    display: grid;
    grid-template-columns: 1fr;

    @mixin largeScreen {
        grid-template-columns: repeat(2, 1fr);
    }

    #map {
        @mixin largeScreen {
            height: 100%;
        }

        height: 500px;
    }

    &__navbar {
        background: $black;
        color: $white;
        padding: 1.5rem;
        display: block;
        width: 100%;
        
        @mixin mediumScreen{
            padding: 2.75rem;
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
            justify-content: space-between;

            @mixin mediumScreen {
                grid-gap: 2rem;
            }

            @mixin largeScreen {
                grid-gap: 1.5rem;
            }

            &__item {
                color: $darkGrey;
                margin: .5rem 0;

                h3 {
                    font-size: 1rem;
                    color: $white;
                    margin: 0;

                    &:after {
                        content: "";
                        display: block;
                        margin: .5rem 0 0 0;
                        width: 60px;
                        height: 5px;
                        background: $primary-color;
                    }
                }

                ul {
                    margin: 1rem 0;
                    padding: 0;
                }

                a {
                    color: $darkGrey;

                    &:hover {
                        color: $primary-color;
                    }
                }

                input {
                    padding: .5rem;
                }
            }
        }
    }
}
