.products__items {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;

    @mixin largeScreen {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 1rem;
    }

    &__item {
        margin: 1rem;
        transition: all .3s linear;
        background: $whiteGrey;

        img {
            display: block;
            width: 100%;
            margin: auto;
            vertical-align: middle;
            transform: scale(.75);
        }

        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
            border-bottom: 5px solid $primary-color;

            img {
                transform: scale(.95);
            }

            p.hide {
                display: block;
            }
        }

        &__item-text {
            padding: 1rem;
            background: $white;
            color: $grey;

            h3 {
                margin-bottom: .5rem;
            }

            p span:first-child {
                color: $darkGrey;
                text-decoration: line-through;
                margin-right: .5rem;
            }

            p span:last-child {
                font-size: 1.2rem;
            }
        }
    }
}

.hide {
    display: none;
    margin: .5rem 0;
}

.gold i {
    color: $gold;
}
