.services {
    margin-top: 30px;

    @mixin largeScreen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    &__img {
        
        background: $lightGrey url("assets/images/bg2.jpg") no-repeat center right;

        @mixin largeScreen {
            height: 100%;
        }
        height: 500px;
    }

    &__service {
        background: $whiteGrey;
        padding: 2rem;

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;

            &__item {

                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                }
            }
        }
    }
}
