.showcase {
    background: #333 url('assets/images/bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
    color: $white;

    @mixin mediumScreen {
        height:100vh;
    }
    &__content {
        display: flex;
        background: rgba(0, 0, 0, 0.4);
        flex-direction: column;
        height: 100%;
        justify-content: center;

        &__para {
            font-size: 1.3rem;
            margin-bottom: 1rem;
            @mixin mediumScreen {
                font-size: 1.8rem;
            }
            @mixin largeScreen {
                font-size: 2.3rem;
            }
        }

        &__l-heading {
            font-size: 3.3rem;
            margin-bottom: 1rem;
            line-height: 1.1;
            @mixin mediumScreen {
                font-size: 4rem;
            }
            @mixin largeScreen {
                font-size: 5rem;
            }
        }
    }
}
