.whys {

    &__items {
        margin: 3rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        @mixin largeScreen {
            grid-template-columns: repeat(4, 1fr);
        }
        &__item img {
            display: block;
            width: 100px;
            margin: 0 auto 2rem;
        }
    }

    .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        justify-content: space-between;
        padding: 2rem;
        
        @mixin mediumScreen {
            grid-template-columns: 2fr 1fr;
            grid-gap: 2rem;
        }

        .left {
            margin-right: 0;

            ul {
                padding: 0;

                li {
                    padding: 1rem;
                    margin: 1rem 0;
                    border: 1px solid $lightGrey;
                    transition: all .3s ease-in-out;

                    .blue-color {
                        color: $primary-color;
                        transition: all .3s ease-in-out;
                    }

                    &:hover {
                        background: $primary-color;
                        cursor: pointer;
                        color: $white;

                        .blue-color {
                            color: $white;
                        }
                    }
                }
            }
        }
        
        .right {
            @mixin largeScreen {
                padding-top: 1.25rem;
            }
            @mixin extraLargeScreen {
                padding-top: 1.4rem;
            }
        }
    }
}
